<div class="row" ng-init="getPayments();">
  <h1 class="page-header">Manage Payments</h1>
  <div class= "form-group col-md-12" style="padding-left:0px;">
    <div class="col-md-5" style="padding-left:0px;">
      <input type="text" class="form-control"  placeholder="Search here..." ng-model="searchPayments"></input>
    </div>
  </div>
  <tabset>
    <tab heading="Current Payments">
      <br>
      <table class="table table-hover hoverSort">
        <thead>
          <tr>
            <th ng-click="sort='description'"><b>Description</b></td>
                <th ng-click="sort='amount'"><b>Amount</b></td>
                  <th ng-click="sort='dueDate'"><b>Due Date</b></td>
                    <th></td>
                    </tr>
                  </thead>

                  <tbody>
                    <tr ng-repeat="payment in payments | filter: filterCurrent() | filter: searchPayments |orderBy: sort">
                      <td>{{payment.description}}</td>
                      <td>{{payment.amount}}</td>
                      <td>{{payment.dueDate.substring(5,10) + '-' + payment.dueDate.substring(0,4)}}</td>
                      <td><button type="button" class="btn btn-md btn-default" ng-click="openModal(payment)">Manage</button></td>
                    </tr>
                  </tbody>
                </table>
              </tab>
