.view-budget-page {
  margin: 5%;
}

#inputExpenditure, #etitle {
  width: 90%;
}

#view-budget-form, #edit-budget-form {
  padding: 5%;
  padding-left: 0%;
}

#price-input, #updateExpenseAmount {
  width: 50%;
}

p {
  padding: 2%;
  padding-left: 0%;
}

table {
  width: 90% !important;
  padding-right: 5%;
}

#white-fa {
  color: white !important;
}
