<!doctype html>
<div class="row" ng-init="getPayments()">
  <h1 class="page-header">Make a Payment</h1>
  <table class="table table-hover hoverSort">
      <thead>
        <tr>
          <th><b>Fees</b></td>
          <th><b>Due Date</b></td>
          <th><b>Amount</b></td>
          <th></td>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>Wedding</td>
            <td>01-24-1997</td>
            <td>$25</td>
          <td><button type="button" class="btn btn-md btn-default">Paypal</button></td>
        </tr>
        <tr ng-repeat="payment in payments">
          <td>{{payment.description}}</td>
          <td>{{payment.dueDate.substring(5,10) + '-' + payment.dueDate.substring(0,4)}}</td>
          <td>{{payment.amount}}</td>
          <td><button type="button" class="btn btn-md btn-default">Paypal</button></td>
        </tr>
      </tbody>
  </table>
</div>
</html>
