<div class="row">
  <div>
    <div>
      <h1 class="page-header">Add Guests for {{ev.name}}</h1>
    </div>
    <div class="col-sm-6">
      <form name="listingForm" class="form-horizontal" ng-submit="submit()">
        <fieldset>
          <div class="form-group" show-errors>
            <label for="name">Name</label>
            <input name="name" type="name" ng-model="name" id="name" class="form-control" required>
          </div>
          <div class="form-group" show-errors>
            <label for="name">Phone Number</label>
            <input name="phoneNumber" type="number" ng-model="phoneNumber" id="name" class="form-control">
          </div>
          <div class="form-group" show-errors>
            <label for="name">Email</label>
            <input name="Email" type="email" ng-model="email" id="name" class="form-control" required>
          </div>
          <div class="form-group" show-errors>
            <label for="partySize">Party Size</label>
            <input name="partySize" type="partySize" ng-model="partySize" id="partySize" class="form-control" required>
          </div>
          <div class="form-group" show-errors>
            <label for="accommodations">Accommodations</label>
            <input name="accommodations"type="accommodations" ng-model="accommodations" id="accommodations" class="form-control">
          </div>
          <div show-errors>
            <label for="attending">Attending</label>
            <input name="attending" type="checkbox" ng-model="attending" id="attending" >
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
	  <div>
            <button class="btn btn-inverse btn-lg btn-register" type="submit" ng-submit="addGuest()">
              Add Guest
  	    </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
