<div class = "container-fluid">

  <div ng-controller="manageGuestListCtrl" ng-init="getEvents();">

    <h2>Your Guests </h2>
    <select>
      <option ng-model="selectedEvent" value="event" ng-repeat="event in events" ng-click="getGuests(event)">{{event.name}}</option>
    </select>
    <div class="col-md-5" style="padding-left:0px;float: right;">
      <input "type=text" class="form-control" placeholder="Search here..." ng-model="searchGuests"></input>
    </div>
    <table class="table table-hover" ng-init="sortGuest='name'">
      <thead>
        <tr>
          <th ng-click="sortGuest='name'"><b>Guest Name</b></td>
          <th ng-click="sortGuest='partySize'"><b>Party Size</b></td>
          <th><b>Accommodations</b></td>
            <th><b>Attending</b></td>
            <th><b>Edit</b></td>
          <th></td>
        </tr>
      </thead>
      <tbody>
         <tr ng-repeat ="item in ev.guests" >
           <!-- | filter: searchGuests -->
          <td>{{item.name}}</td>
          <td>{{item.partySize}}</td>
          <td>{{item.accommodations}}</td>
          <td><span ng-class="(item.accepted) ? 'fa fa-check-square-o fa-lg' : 'fa fa-square-o fa-lg'"></span></td>
          <td><span class="glyphicon glyphicon-edit"></span></td>
        </tr>
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button type="button" class="btn btn-md btn-default" ng-click="addGuest()">Add Guests</button> </td>
      </tfoot>
    </table>
  </div>
</div>
