<div>
  <!-- <div class="row"> -->
  <div class="page-header">
    <h1>Create new payment for <i>{{clientName}}</i></h1>
  </div>
  <section>
    <div>
      <form class="form-horizontal novalidate col-md-8" name="form">

        <!-- Div to input the event name -->
        <div class="form-group row col-md-12" show-errors>
          <label for="paymentDesc">Payment description:</label>
          <input name="paymentDesc" type="paymentDesc" ng-model="paymentDesc" id="paymentDesc" class="form-control" required>
        </div>

        <!-- Div to input the date -->
        <div class="form-group row col-md-12" style="margin-bottom: 0px;" show-errors>
          <div class="col-md-6" style="padding-left: 0px;">
            <label for="dateOfPayment">Due Date:</label>
            <div class = "input-group">
              <input type="text" class="form-control" id="paymentDueDate" datepicker-popup="fullDate" ng-model="paymentDueDate" is-open="paymentDateOpened"  datepicker-options="dateOptions" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" datepicker-popup="fullDate" ng-click="openPaymentDate($payment)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>

        <!-- Div to input then amount  -->
        <div class="form-group row col-md-12" show-errors>
          <label for="amount">Amount:</label>
          <input name="amount" type="amount" ng-model="amount" id="amount" class="form-control">
        </div>



        <!-- Submit button -->
        <div class="form-group row col-md-12">
          <button type="button" class="btn btn-default" ng-click="submit()" ng-disabled="form.$invalid">Submit</button>
        </div>

      </form>
    </div>
  </section>
  <!-- </div> -->
  <hr>
</div>
