<!-- <div>

  <div class="page-header">
    <h1>Create new payment for <i>{{clientName}}</i></h1>
  </div>
  <section>
    <div>
      <form class="form-horizontal novalidate col-md-8" name="form">

        <div class="form-group row col-md-12" show-errors>
          <label for="paymentDesc">Payment Description: Initial Meeting Fee</label>
        </div>

        <div class="form-group row col-md-12" style="margin-bottom: 0px;" show-errors>
          <div class="col-md-6" style="padding-left: 0px;">
            <label for="paymentDueDate">Date:</label>
            <div class = "input-group">
              <input type="text" class="form-control" id="paymentDueDate" datepicker-popup="fullDate" ng-model="paymentDueDate" is-open="paymentDateOpened"  datepicker-options="dateOptions" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openPaymentDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>


        <div class="form-group row col-md-12" show-errors>
          <label for="amount">Amount: $25</label>
        </div>

        <div class="form-group row col-md-12">
          <button type="submit" ng-click="submit()" class="btn btn-default">Submit</button>
        </div>

      </form>
    </div>
  </section>

  <hr>
</div> -->
