<div class = "container-fluid">
  <div ng-controller="yourBudgetCtrl" ng-init="getEvents()">
      <h2>Welcome, {{clientName}} </h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th><b>Event Name</b></td>
            <th><b>Location</b></td>
            <th><b>Date</b></td>
            <th><b>Budget</b></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Event 1</td>
            <td>Location 1</td>
            <td>Date 1</td>
            <td><button class="btn btn-info" type="button" name="button">View Budget</button></td>
          </tr>
          <tr ng-repeat="event in events">
            <td>{{event.name}}</td>
            <td>{{event.location}}</td>
            <td>{{event.date.substring(5,10) + '-' + event.date.substring(0,4)}}</td>
            <td> <button class = "btn btn-primary" ng-click="toggle(event)">Budget</button></td>
          </tr>
        </tbody>
      </table>



      <div ng-show="state" ng-init="getEventSubcons()">
        <!--Your budget-->
        <div class = "col-md-12">
          <div class = "col-md-6">
            <h4 align="center">Your Budget</h4>
            <nvd3 options="options" data="ev.budget"></nvd3>
          </div>
        </div>
      </div>

  </div>
</div>
